.logo {
    font-size: 2rem;
    margin-right: 50px;
}

.searchForm {
    position: relative;
    display: flex;
}

.searchForm .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--main-dark);
    border-radius: 10px;
    overflow: hidden;
}

.searchForm .wrapper:focus-within {
    border-color: var(--main-bgc);
}

.searchField {
    width: 100%;
    height: 100%;
    border-left: 5px solid var(--main-dark);
    padding: 0 5px;
    font-size: 1.2rem;
}

.searchField:focus {
    border-color: var(--main-bgc);
}

.searchBtn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-right: 0;
    position: relative;
    background-color: var(--header-btn);
}

.searchBtn:focus + .searchField {
    border-color: var(--main-bgc);
}

.searchBtn::before {
    content: "";
    width: 36px;
    height: 36px;
    background-image: url("../img/search.png");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}

.searchBtn:active::before {
    transform: scale(0.9) translateY(-50%);
}

.searchForm .icon {
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-top: 5px;
    opacity: 0;
    visibility: hidden;
    width: 200%;
}

.searchForm.error .icon {
    opacity: 1;
    visibility: visible;
}

.searchForm.error .icon::before {
    content: "!";
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--main-dark);
    border: 1px solid var(--main-dark);
    color: var(--main-light);
    text-align: center;
    border-radius: 100%;
}

.searchForm.shake .wrapper {
    animation: shake 0.5s ease forwards;
    transform: translateX(0px);
}

@keyframes shake {
    10%,
    90% {
        transform: translateX(-5px);
    }

    20%,
    80% {
        transform: translateX(6px);
    }

    30%,
    50%,
    70% {
        transform: translateX(-7px);
    }

    40%,
    60% {
        transform: translateX(7px);
    }
}

.temperatureScales {
    padding: 5px 10px;
    background-color: var(--main-light);
    border-radius: 10px;
    min-width: 320px;
    border: 5px solid var(--main-dark);
}

.temperatureScales > div {
    position: relative;
    display: flex;
    column-gap: 20px;
}

.temperatureScales .slider {
    flex: 0 1 calc(50% - 5px );
    background-color: var(--header-btn);
    padding: 15px 0;
    opacity: .8;
    border-radius: 20px;
    transition: transform .3s ease;
}

.temperatureScales.imperial .slider {
    transform: translateX(calc(100% + 10px));
}

.temperatureScales .wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.temperatureScales button {
    width: 100%;
    color: var(--main-dark);
    cursor: pointer;
}
