/* normalize */
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
/* Noto Sans */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
    --main-bgc: rgb(82, 131, 133);
    --main-dark: rgb(0, 0, 0);
    --main-light: rgb(255, 255, 255);
    --header-bgc: rgb(255, 235, 205);
    --header-btn: rgb(222, 184, 135);
}

* {
    box-sizing: border-box;
    font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

p,
h2 {
    margin: 0;
}

input {
    outline: none;
    border: 0;
}

button {
    border: 0;
    outline: none;
    padding: 0;
    background-color: transparent;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-bgc);
    padding: 40px;
    display: flex;
    flex-direction: column;
}

body > div {
    border-radius: 20px;
    overflow: hidden;
}

header {
    height: auto;
    display: flex;
    align-items: center;
    background-color: var(--header-bgc);
    padding: 30px 20px;
    width: 100%;
    min-width: 900px;
    justify-content: space-between;
}

header div:first-of-type {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

main {
    width: 100%;
    min-width: 600px;
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    grid-template-areas: "left right";
    position: relative;
}

main::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 120%;
    right: 110%;
    z-index: 1;
    border-right: 5px solid var(--main-light);
    background: var(--main-dark);
}

main::before {
    content: "Loading...";
    position: absolute;
    color: var(--main-light);
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0s ease 0.25s;
}

main.loading::before {
    opacity: 1;
    visibility: visible;
    transition: all 0s ease 1s;
}

main.clear::after {
    animation: slide-right 1.5s ease-in-out both;
}

main.done::after {
    animation: slide-left 1s ease-in both;
}

main.init::after {
    animation-duration: 0s;
}

@keyframes slide-right {
    0% {
        transform: skewX(0deg) translateX(0%);
    }

    25% {
        transform: skewX(-5deg) translateX(45%);
    }

    30% {
        transform: skewX(-5deg) translateX(45%);
    }

    50% {
        transform: skewX(10deg) translateX(30%);
    }

    75%,
    100% {
        transform: skewX(10deg) translateX(100%);
    }
}

@keyframes slide-left {
    0% {
        transform: skewX(0deg) translateX(100%);
    }

    50% {
        transform: skewX(5deg) translateX(0%);
    }

    100% {
        transform: skewX(5deg) translateX(0%);
    }
}
