.container {
    height: 100%;
    --left-side: rgb(17, 14, 60);
    --right-side: rgb(242, 251, 255);
}

.container:first-of-type {
    grid-area: left;
    display: grid;
    grid-template: 1fr 1fr / minmax(350px, 1fr);
    grid-template-areas:
        "current"
        "weatherMap";
    background-color: var(--left-side);
    color: var(--main-light);
}

.container:last-of-type {
    grid-area: right;
    display: grid;
    grid-template: 1fr 1fr / minmax(550px, 1fr);
    grid-template-areas:
        "forecast"
        "details";
    background-color: var(--right-side);
}

/* current */

.current {
    grid-area: current;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    --light-gray: rgb(163, 163, 180);
}

.current .top {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.current .temp {
    font-size: 2rem;
    vertical-align: text-top;
    position: relative;
    margin: 30px 0;
}

.current .temp .deg {
    font-size: 6rem;
    line-height: 5rem;
}

.current .temp .symbol {
    position: absolute;
    font-weight: lighter;
    top: 0;
}

.current .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    color: var(--light-gray);
}

.current .bottom .sun {
    display: flex;
    column-gap: 20px;
}

.current .date {
    color: var(--light-gray);
}

/* weatherMap */

.weatherMap {
    grid-area: weatherMap;
    padding: 20px;
}

.weatherMap .map {
    border: 5px solid white;
    border-radius: 20px;
    width: 100%;
    min-height: 350px;
}

/* forecast */

.forecast {
    grid-area: forecast;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.forecast .title {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.forecast .daily {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px;
}

.forecast .daily .list {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
}

.forecast .daily .item {
    display: flex;
    flex: 1;
}

.daily .weatherIcon > div {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

.daily .item.tmp {
    flex: 2;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.daily .tmp .min {
    flex: 0 1 45px;
    text-align: right;
}

.daily .tmp .max {
    flex: 0 1 45px;
    text-align: right;
}

.daily .tmp .range {
    flex: 1;
    height: 2px;
    background-color: black;
}

/* details */

.details {
    grid-area: details;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, minmax(160px, 1fr));
    gap: 10px;
    padding: 20px;
}

.details > div {
    grid-area: span 1;
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.details > div > div {
    display: flex;
    align-items: center;
    margin-bottom: auto;
}

.details > div > span {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    font-size: 1.8rem;
}

.details > div .icon {
    width: 25px;
    height: 25px;
    background-size: contain;
    margin-right: 5px;
}

.details .feels-like .icon {
    background-image: url("../img/details/feels_like.png");
}
.details .wind .icon {
    background-image: url("../img/details/wind.png");
}
.details .amount .icon.rain {
    background-image: url("../img/details/rain.png");
}
.details .amount .icon.snow {
    background-image: url("../img/details/snow.png");
}
.details .humidity .icon {
    background-image: url("../img/details/humidity.png");
}
.details .visibility .icon {
    background-image: url("../img//details/visibility.png");
}
.details .pressure .icon {
    background-image: url("../img/details/pressure.png");
}

.details .wind .compass {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
}

.details .wind .compass::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%);
    background-image: url("../img/details/compass.png");
    background-repeat: no-repeat;
}
